:root {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    --leftpanelsize: 45%;
    --rightpanelsize: 45%;

    /* colorinfo for this scheme is dynamically set by colorschemebuilder.go */
{{index . "colorinfo"}}

}
