/* 02 core elements */

a.lex, a.nounderline {
    color: var(--hgscol03);
    text-decoration: none;
}

a.lex:hover, a.nounderline:hover {
    border-bottom: 1px dotted var(--dottedborders);
    border-top: 1px dotted var(--dottedborders);
    color: var(--hgscol06);
    text-shadow: 1px 1px 3px var(--textshadowcolor);
}

button {
    background: var(--buttoncolor);
    color: var(--main-font-color);
    border: var(--hgsmono00);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-align: center;
    box-shadow: 1px 1px 1px var(--transparentgrey);
    padding: 5px 4px 4px 5px; /* the box shadow creates the illusion of mis-centering for button icons */
    margin-bottom: 1px; /* line height for the buttons needs to match the input boxes; box shadow tweak... */
}

button:hover {
    color: var(--main-body-color);
    text-shadow: 1px 1px 3px var(--transparentgrey);
    background: var(--button-hover);
}

code {
    font-size: 100%;
    color: var(--hgscol19);
    font-family: 'hipparchiamonostatic', monospace;
}

fieldset {
    display: inline-block;
    border-width: 1px;
    font-size: 75%;
    color: var(--hgscol08);
    background-color: var(--fieldset-background);
}

form {
    display: inline;
}

hr {
    box-shadow: 2px 2px 1px var(--transparentgrey);
}

input {
    text-align: center;
    padding: 3px;
    display: inline;
}

input[type="text"] {
    font-size: 85%;
    /* font-family: inherit; */
    font-family: 'hipparchiasemicondensedstatic', sans-serif;
    border: 1px solid var(--input-border-color);
    background-color: var(--main-body-color);
    color: var(--main-font-color);
}

li {
    padding-top: 1px;
}

p {
    font-family: 'hipparchiasansstatic', sans-serif;
}

p.browsedline {
    line-height: 70%;
}

p.lineoftext {
    line-height: 70%;
}

pre {
    font-family: 'hipparchiamonostatic', monospace;
    color: var(--hgscol19);
}

ul {
    list-style-type: none;
}

ul.forexample {
    list-style-type: lower-latin;
    padding-left: 100px;
    padding-bottom: 5px;
}

ul.numbered {
    list-style-type: decimal;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.roman {
    list-style-type: lower-roman;
    padding-left: 25px;
    padding-bottom: 5px;
}
