/* 08 hmu spans */

.editorialmarker_angledbrackets {
    font-weight: normal;
    /* next is tempting, but too heavey-handed? esp. if squarebrackets is not treated in parallel... */
    /* font-family: 'hipparchiaobliquestatic', sans-serif; */
    color: var(--bracketcolor3);
}

.editorialmarker_curlybrackets {
    font-weight: normal;
    color: var(--bracketcolor4);
}

.editorialmarker_roundbrackets {
    color: var(--bracketcolor1);
    font-weight: normal;
}

.editorialmarker_squarebrackets {
    /* next two are great until it they aren't: fragmentary papyrus, etc will get warped: "[ca. 6 litt.]" */
    /* text-decoration: line-through;
    text-decoration-style: dotted; */
    color: var(--bracketcolor2);
}

.embeddedannotations {
    font-family: 'hipparchiacondensedstatic', sans-serif;
}

.embeddedannotations.foundwork {
    font-family: 'hipparchiacondenseditalicstatic', sans-serif;
}

.epigraphical_text_after_correction {
    color: var(--hgscol16);
    font-family: 'hipparchiasemiboldstatic', sans-serif;
}

.epigraphical_text_inserted_after_erasure {
    font-family: 'hipparchiasemiboldstatic', sans-serif;
    text-decoration: underline;
    color: var(--hgscol16);
}

.erasedepigraphicaltext {
    text-decoration: line-through;
}

/*
	HMU FORMS

	a collection of styles to match formatting assertions in the original data
	see ltcurlybracketsubstitutes(), etc in HipparchiaBuilder
 */

.hmu_alternative_reading {
    color: var(--hgscol12);
    font-family: 'hipparchiaobliquestatic', sans-serif;
    text-decoration-style: wavy;
}

.hmu_blank_quarter_spaces {
    margin-left: 0;
}

.hmu_date_or_numeric_equivalent_of_date {
    /* Sought »hmu_date_or_numeric_equivalent_of_date«
    Searched 229,374 texts and found 0 passages (2.72s) */
}

.hmu_discarded_form {
    text-decoration: line-through;
    color: var(--hgscol08);
}

.hmu_emendation_by_editor_of_text_not_obviously_incorrect {
    /* Sought »hmu_emendation_by_editor_of_text_not_obviously_incorrect«
    Searched 229,374 texts and found 0 passages (2.81s) */
    text-decoration-style: wavy;
}

.hmu_form_altered_by_scribe {
    color: var(--hgscol16);
    font-family: 'hipparchiacondenseditalicstatic', sans-serif;
}

.hmu_impression_of_stamp_on_papyrus {
    font-size: 125%;
    font-family: 'hipparchiaboldstatic', sans-serif;
}

.hmu_latin_expanded_text {
    letter-spacing: 0.11em;
    font-family: 'hipparchiasemiboldstatic', sans-serif;
}

.hmu_marginaltext{
    color: var(--hgscol07);
    font-size: 80%;
    font-family: 'hipparchiaobliquestatic', sans-serif;
    text-indent: -5px;
    padding-right: 0px;
}

.hmu_mid_line_citation_boundary {
    padding: 50px;
}

.hmu_papyrological_fraction{
    color: var(--hgscol16);
    font-family: 'hipparchiaobliquestatic', sans-serif;
}

.hmu_parenthesis_deletion_marker {
    text-decoration: line-through;
}

.preferred_epigraphical_text_used {
    /* Sought »hmu_preferred_epigraphical_text_used«
    Searched 229,374 texts and found 0 passages (3.14s) */
}

.hmu_rectified_form {
    text-decoration: underline;
}

.hmu_scholium {
    /* Sought »hmu_scholium«
    Searched 229,374 texts and found 0 passages (2.26s) */
    font-family: 'hipparchiaobliquestatic', sans-serif;
}

.hmu_seal_attached_to_papyrus {
    font-size: 125%;
    font-family: 'hipparchiaboldstatic', sans-serif;
}

.hmu_title {
    font-family: 'hipparchiabolditalicstatic', sans-serif;
}

.hmu_unconventional_form_written_by_scribe {
    color: var(--hgscol18);
    font-family: 'hipparchiacondenseditalicstatic', sans-serif;
}

.overline_and_underline {
    /* Sought »hmu_overline_and_underline«
    Searched 235,999 texts and found 0 passages (21.62s)*/
    border-bottom: 1px var(--hgsmono00);
    border-top: 1px var(--hgsmono00);
}

.stacked_text_lower {
    font-size: 80%;
    vertical-align: sub;
}

.stacked_text_upper {
    vertical-align: super;
    font-size: 80%;
}

.textual_lemma {
    font-family: 'hipparchiaobliquestatic', sans-serif;
    color: var(--hgscol01);
}

hmutitle {
    font-family: 'hipparchiabolditalicstatic', sans-serif;
}

hmu_serviusformatting {
    font-family: 'hipparchiaobliquestatic', sans-serif;
    color: var(--hgscol07);
}

.serviusformatting {
    font-family: 'hipparchiaobliquestatic', sans-serif;
    color: var(--hgscol04);
}
