/* 11 input */

input {
    text-align: center;
    padding: 3px;
    display: inline;
}

input[type="text"] {
    font-size: 85%;
    /* font-family: inherit; */
    font-family: 'hipparchiasemicondensedstatic', sans-serif;
    border: 1px solid var(--input-border-color);
    background-color: var(--main-body-color);
    color: var(--main-font-color);
}

/* https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
/* https://moderncss.dev/pure-css-custom-checkbox-style/ */

*,
*:before,
*:after {
    box-sizing: border-box;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    /* background-color: var(--form-background); */
    /* Not removed via appearance */
    margin: 2px;

    font: inherit;
    /*color: #080;*/
    width: 1.1em;
    height: 1.1em;
    border: 0.15em solid var(--buttonandcheckboxborder);
    border-radius: 50%;
    transform: translateY(.24em);

    display: inline-grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 90ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--buttonandcheckboxcontents);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    /* background-color: var(--form-background); */
    /* Not removed via appearance */
    margin: 2px;

    font: inherit;
    /*color: #080;*/
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--buttonandcheckboxborder);
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: inline-grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 90ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--buttonandcheckboxcontents);
    background-color: var(--buttonandcheckboxborder);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
