<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="/emb/jq/jquery.min.js"></script>
    <script src="/emb/jq/jquery-ui.min.js"></script>
    <script src="/emb/echarts/echarts.min.js"></script>
    <script src="/emb/echarts/echarts-gl.min.js"></script>
    <title>Hipparchia</title>
    <link rel=stylesheet type=text/css href="/emb/css/hipparchiastyles.css">
    <link rel=stylesheet type=text/css href="/emb/jq/jquery-ui.css">
</head>
<body>

<!--

    {{index . "myname"}}: an interface to a database of Greek and Latin texts

    {{index . "copyright"}}

    Source: {{index . "source"}}

    {{index . "longver"}}
    Environment: {{index . "env"}}

    {{index . "ticker"}}
-->

<!-- left side navigation panel -->
<div id="setoptionsnavigator" class="sidenavigation">
    <div id="alt_upperleftbuttons">
        <span id="closeoptionsbutton" title="Configuration options"><span class="material-icons md-mid">settings</span></span>
        <span id="alt_moretools" title="Lexical tools"><span class="material-icons md-mid">handyman</span></span>
        <span id="alt_clear_button" title="Reset session/Clear search"><span class="material-icons md-mid">cancel</span></span>
    </div>
    <br />
    <p class="optionlabel">Corpora to search</p>
    <p class="optionitem">
        <span class="rarechars">Ⓖ</span><input type="checkbox" id="greekcorpus" value="no" title="Greek authors ">&middot;
        <span class="rarechars">Ⓛ</span><input type="checkbox" id="latincorpus" value="no" title="Latin authors">&middot;
        <span class="rarechars">Ⓓ</span><input type="checkbox" id="papyruscorpus" value="no" title="Documentary papyri">&middot;
        <span class="rarechars">Ⓘ</span><input type="checkbox" id="inscriptioncorpus" value="no" title="Inscriptions I (IG, SEG, etc.)">&middot;
        <span class="rarechars">Ⓒ</span><input type="checkbox" id="christiancorpus" value="no" title="Inscriptions II (Cla., Lt. Antiq., Med.; Christ.)">
    </p>

    <p class="optionlabel">Input style for passages to search</p>
    <p class="optionitem">
        <label for="autofillinput">autofill
            <input name="rawinputstyle" id="autofillinput" value="no" type="radio"></label>
        <label for="manualinput">manual
            <input name="rawinputstyle" id="manualinput" value="yes" type="radio"></label>
    </p>

    <p class="optionlabel">Maximum number of search results to return</p>
    <p class="optionitem">
        <input id="hitlimitspinner" type="text" value="500" width="20px;">
    </p>

    <p class="optionlabel">Limit to one hit per author</p>
    <p class="optionitem">
        <label for="onehit_y">yes
            <input name="onehit" id="onehit_y" value="yes" type="radio"></label>
        <label for="onehit_n">no
            <input name="onehit" id="onehit_n" value="no" type="radio"></label>
    </p>

    <p class="optionlabel">Lines of context to accompany search results</p>
    <p class="optionitem">
        <input id="linesofcontextspinner" type="text" value="{{index . "resultcontext"}}" width="20px;">
    </p>

    <p class="optionlabel">Sort results by</p>
    <p class="optionitem">
        <select name="sortresults" id="sortresults">
            <option value="shortname">Name</option>
            <option value="converted_date">Date</option>
            <option value="provenance">Work Provenance</option>
            <option value="universalid">ID Number</option>
        </select>
    </p>

    <p class="optionlabel">Lines of context in the browser window</p>
    <p class="optionitem">
        <input id="browserspinner" type="text" value="{{index . "browsecontext"}}" width="20px;">
    </p>

    <p class="optionlabel">Vocabulary lists...</p>
    <p class="optionitem">
        <input type="checkbox" id="vocbycount" value="no">are sorted by headword count
        <br>
        <input type="checkbox" id="vocscansion" value="no">include scansion information
    </p>

    <p class="optionlabel">Neighbors graphs include neighbors of neighbors</p>
    <p class="optionitem">
        <label for="extendedgraph_y">yes
            <input name="extendedgraph" id="extendedgraph_y" value="yes" type="radio"></label>
        <label for="extendedgraph_n">no
            <input name="extendedgraph" id="extendedgraph_n" value="no" type="radio"></label>
    </p>

    <p class="optionlabel">Neighbors to track</p>
    <p class="optionitem">
        <input id="neighborcount" type="text" value="20" style="width: 90px;">
    </p>

    <p class="optionlabel">Neighbors modeler</p>
    <p class="optionitem">
        <select name="modeler" id="modeler">
            <option value="w2v">Word2Vec</option>
            <option value="lexvec">LexVec</option>
            <option value="glove">GloVe</option>
        </select>
    </p>

    <p class="optionlabel">Vectorization text preparation</p>
    <p class="optionitem">
        <select name="vtextprep" id="vtextprep">
            <option value="winner">Winner takes all</option>
            <option value="montecarlo">Weighted chance headwords</option>
            <option value="yoked">Yoked headwords</option>
            <option value="unparsed">Unparsed</option>
        </select>
    </p>

    <p class="optionlabel">LDA topics to generate</p>
    <p class="optionitem">
        <input id="ldatopiccount" type="text" value="8" style="width: 90px;">
    </p>
    <p class="optionlabel">Build LDA graph</p>
    <p class="optionitem">
        <label for="ldagraph_y">yes
            <input name="ldagraph" id="ldagraph_y" value="yes" type="radio"></label>
        <label for="ldagraph_n">no
            <input name="ldagraph" id="ldagraph_n" value="no" type="radio"></label>
    </p>
    <p class="optionlabel">LDA graph dimensions</p>
    <p class="optionitem">
        <label for="ldagraph_2d">2D
            <input name="ldagraph2dimensions" id="ldagraph_2d" value="yes" type="radio"></label>
        <label for="ldagraph_3d">3D
            <input name="ldagraph2dimensions" id="ldagraph_3d" value="no" type="radio"></label>
    </p>
</div>

<!-- left and right side modal boxes for lexica and morphology maps -->
<div id="lexmodal" class="leftmodal">
    <div id="lexmodalheader" class="leftmodalheader" title="Double-click to hide entry">
        <span class="leftmodalbuttons">
            <span id="leftmodalclose" class="leftmodalclose material-icons material-icons-outline" title="Click or Press ESC to close">cancel</span>
        </span>
        &nbsp;<span id="leftmodalheadertext">&nbsp;</span>
    </div>
    <div id="lexmodalcontent" class="leftmodalcontent">
        <div id="lexmodalbody" class="leftmodalbody"></div>
        <div id="lexmodalfoot" class="lexmodalfoot">&nbsp;</div>
    </div>
</div>

<div id="morphmodal" class="rightmodal">
    <div id="morphmodalheader" class="rightmodalheader" title="Double-click to hide chart">
        <span class="leftmodalbuttons">
            <span id="rightmodalclose" class="rightmodalclose material-icons material-icons-outline" title="Click or Press ESC to close">cancel</span>
        </span>
        &nbsp;<span id="rightmodalheadertext">&nbsp;</span>
    </div>
    <div id="morphmodalcontent" class="rightmodalcontent">
        <div id="morphmodalbody" class="rightmodalbody">&nbsp;</div>
        <div id="morphmodalfoot" class="rightmodalfoot">&nbsp;</div>
    </div>
</div>

<div id="browserdialog">
    <div id="browserdialogtext"></div>
    <div id="browsernavigationbuttons">
        <button id="browseback" title="Browse backwards (click or press the &#8592; key)"><span class="material-icons">arrow_back</span></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="browserclose" title="Close the browser (click or press the 'escape' key)"><span class="material-icons">close</span></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="browseforward" title="Browse forwards (click or press the &#8594; key)"><span class="material-icons">arrow_forward</span></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>

<!-- "mainbody": the setoptionsnavigator sidebar will push anything in here to the right when it is opened -->
<div id="mainbody">
    <div id="searchfield">
        <span id="endpointbutton-isclosed" class="material-icons md-mid ui" title="Open endpoint selection options">chevron_right</span>
        <span id="endpointbutton-isopen" class="material-icons md-mid ui" title="Close endpoint selection options">expand_more</span>
        <span id="fromnotice" class="unobtrusive">[span start]</span>
        <input type="text" name="authors" class="authorinput" id="authorsautocomplete" placeholder="Authors (&uarr;/&darr;)">
        <input type="text" name="works" class="workinput" id="worksautocomplete" placeholder="Works [inactive]">
        <input type="text" name="rawlocinput" class="worklevel" id="rawlocationinput" placeholder="[rawlocationinput]">
        <input type="text" name="level05" class="worklevel" id="level05" placeholder="[level05]">
        <input type="text" name="level04" class="worklevel" id="level04" placeholder="[level04]">
        <input type="text" name="level03" class="worklevel" id="level03" placeholder="[level03]">
        <input type="text" name="level02" class="worklevel" id="level02" placeholder="[level02]">
        <input type="text" name="level01" class="worklevel" id="level01" placeholder="[level01]">
        <input type="text" name="level00" class="worklevel" id="level00" placeholder="[level00]">

        <button id="addauthortosearchlist" title="Include this author/work"><span class="material-icons">add</span></button>
        <button id="excludeauthorfromsearchlist" title="Exclude this author/work"><span class="material-icons">horizontal_rule</span></button>
        <button id="morechoicesbutton" title="More search choices"><span class="material-icons">more_horiz</span></button>
        <button id="fewerchoicesbutton" title="Fewer search choices"><span class="material-icons">expand_less</span></button>
        <button id="browseto" title="Browse this location"><span class="material-icons">open_in_new</span></button>
        <button id="authinfobutton" title="Show/Hide local info about the works of this author"><span class="material-icons">person</span></button>

        <div id="authorholdings"></div>

        <input type="text" name="geres" id="genresautocomplete" placeholder="Author Categories">
        <input type="text" name="workgenres" id="workgenresautocomplete" placeholder="Work Genres">
        <input type="text" name="locations" id="locationsautocomplete" placeholder="Author Locations">
        <input type="text" name="provenances" id="provenanceautocomplete" placeholder="Work Provenances">
        <button id="pickgenrebutton" title="Include this category and/or genre"><span class="material-icons">add</span></button>
        <button id="excludegenrebutton" title="Exclude this category and/or genre"><span class="material-icons">horizontal_rule</span></button>
        <button id="genreinfobutton" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Show/Hide list of available categories"><span class="ui-icon ui-icon-clipboard"></span><span class="ui-button-icon-space"></span>&nbsp;</button>

        <div id="genrelistcontents">&nbsp;</div>

        <br />
        <fieldset id="edts">
            <legend>Starting year</legend>
            <input id="earliestdate" type="text" value="-850">
        </fieldset>
        <fieldset id="ldts">
            <legend>Ending year</legend>
            <input id="latestdate" type="text" value="1500">
        </fieldset>
        <fieldset id="spuriacheckboxes">
            <legend>Include works that are...</legend>
            spurious <input type="checkbox" id="includespuria" value="no">&nbsp;&middot;&nbsp;
            of uncertain date<input type="checkbox" id="includeincerta" value="no">&nbsp;&middot;&nbsp;
            of varied date (e.g., scholia)<input type="checkbox" id="includevaria" value="no"><br />
        </fieldset>
    </div>

    <div id="selectionendpoint">
        <span id="endpointnotice" class="unobtrusive">[span end]</span>
        <input type="text" name="authors" class="authorinput" id="authorendpoint" placeholder="[should be pre-filled]">
        <input type="text" name="works" class="workinput" id="workendpoint" placeholder="[should be pre-filled]">
        <input type="text" name="rawendpointinput" class="worklevel" id="rawendpointinput" placeholder="[rawendpointinput]">
        <input type="text" name="level05" class="worklevel" id="level05endpoint" placeholder="---">
        <input type="text" name="level04" class="worklevel" id="level04endpoint" placeholder="---">
        <input type="text" name="level03" class="worklevel" id="level03endpoint" placeholder="---">
        <input type="text" name="level02" class="worklevel" id="level02endpoint" placeholder="---">
        <input type="text" name="level01" class="worklevel" id="level01endpoint" placeholder="---">
        <input type="text" name="level00" class="worklevel" id="level00endpoint" placeholder="---">
    </div>
    <br>
    <div id="outputbox">
        <table id="selectionstable">
            <tbody>
            <tr>
                <th colspan="5" id="timerestrictions"></th>
            </tr>
            <tr>
                <td class="infocells" id="selectioninfocell" width="44%" title="Selection list">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td style="text-align: center;" id="jscriptwigetcell" width="6%">
                    <p id="searchinfo"><span class="material-icons md-mid" title="Show/hide details of the current search list">info</span></p>
                </td>
                <td class="infocellx" id="exclusioninfocell" width="44%" title="Exclusion list">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td style="text-align: center;" width="6%">
                    <p id="textofthis"><span class="material-icons md-mid" title="Generate a simple text of this selection">library_books</span></p>
                    <p id="makeanindex"><span class="material-icons md-mid" title="Build an index to this selection">subject</span></p>
                    <p id="makevocablist"><span class="material-icons md-mid" title="Build a vocabulary list for this selection">format_list_numbered</span></p>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="authoroutputcontent"></div>
        <div id="searchlistcontents">(this might take a second...)</div>
    </div>

    <div id="wordsearchfields" class="center">
        <button id="executesearch" title="Execute the search"><span class="material-icons">search</span></button>
        <input id="wordsearchform" type="text" name="seeking" placeholder="(looking for...)" size=25>
        <input id="lemmatasearchform" type="text" name="lemmata" placeholder="(all forms of...)" size=25>
        <span id="termonecheckbox">
                <span class="small">λ</span><input type="checkbox" id="termoneisalemma" value="yes">
            </span>
        {{index . "vec"}}
        <button id="extendsearchbutton-ispresentlyopen" title="Complicate the search"><span class="material-icons">expand_less</span></button>
        <button id="extendsearchbutton-ispresentlyclosed" title="Complicate the search"><span class="material-icons">expand_more</span></button>
        <br />

        <div id="complexsearching">

            <div id="nearornot">
                <span class="reduced">
                <label for="wordisnear">near
                    <input type="radio" name="near" id="wordisnear" value="T"></label>
                <label for="wordisnotnear">not near
                    <input type="radio" name="near" id="wordisnotnear" value="F"></label>
                </span>
            </div>

            <input id="proximatesearchform" type="text" name="proximate" placeholder="(near... and within...)" size=25>
            <input id="proximatelemmatasearchform" type="text" name="lemmata" placeholder="(near all forms of... and within...)" size=25>
            <span id="termtwocheckbox">
                <span class="small rarechars">λ</span><input type="checkbox" id="termtwoisalemma" value="yes">
            </span>

            <input id="proximityspinner" type="text" size="2" value="{{index . "proxval"}}">
            <span class="reduced">
            <label for="searchlines">lines
                <input type="radio" name="searchfor" id="searchlines" value="L"></label>
            <label for="searchwords">words
                <input type="radio" name="searchfor" id="searchwords" value="W"></label>
            </span>
        </div>
    </div>

    <br />

    <div id="lexica">
        <br />
        <input type="text" name="lexicon" class="lexica" id="lexicon" placeholder="(Dictionary Search)">
        <input type="text" name="lexicon" class="lexica" id="reverselexicon" placeholder="(English to Greek or Latin)">
        <button id="lexicalsearch" title="Search dictionary or parser"><span class="material-icons">search</span></button>
    </div>

    <div id="lexicadialog">
        <div id="lexicadialogtext"></div>
    </div>

    <div id="searchsummary"></div>

    <div id="pollingdata"></div>

    <!-- the div where just the results get inserted... -->
    <div id="displayresults"></div>
    <div id="vectorgraphing"></div>

</div>

<!-- misc ui elements -->
<div id="upperleftbuttons">
    <span id="openoptionsbutton" title="Configuration options"><span class="material-icons md-mid">settings</span></span>
    <span id="moretools" title="Lexical tools"><span class="material-icons md-mid">handyman</span></span>
    <span id="clear_button" title="Reset session/Clear search"><span class="material-icons md-mid">cancel</span></span>
</div>

<div id="clickforhelp">
    <span id="helpbutton" title="Help"><span class="material-icons md-mid ui">help</span></span>
</div>

<div id="savedprofiles">
    <span id="togglesaveslots" title="Pick a save slot into which to save your current session"><span class="material-icons md-mid ui">save</span></span><br />
    <div id="saveslots">
            <span class="rarechars smallerthannormal">
                <span class="saveoptions" title="Save to slot 1" id="save01">➊</span><br />
                <span class="saveoptions" title="Save to slot 2" id="save02">➋</span><br />
                <span class="saveoptions" title="Save to slot 3" id="save03">➌</span><br />
                <span class="saveoptions" title="Save to slot 4" id="save04">➍</span><br />
                <span class="saveoptions" title="Save to slot 5" id="save05">➎</span><br />
            </span>
    </div>
    <span id="toggleloadslots" title="Pick a save slot from which to load stored session"><span class="material-icons md-mid ui">folder_open</span></span><br />
    <div id="loadslots">
            <span class="rarechars smallerthannormal">
                <span class="loadoptions" title="Load from slot 1" id="load01">➀</span><br />
                <span class="loadoptions" title="Load from slot 2" id="load02">➁</span><br />
                <span class="loadoptions" title="Load from slot 3" id="load03">➂</span><br />
                <span class="loadoptions" title="Load from slot 4" id="load04">➃</span><br />
                <span class="loadoptions" title="Load from slot 5" id="load05">➄</span>
            </span>
    </div>
</div>

<div id="activeoptions">
    <div id="grkisactive" title="Greek corpus is active"><span class="rarechars activeoption">Ⓖ</span></div>
    <div id="grkisnotactive"></div>
    <div id="latisactive" title="Latin corpus is active"><span class="rarechars activeoption">Ⓛ</span></div>
    <div id="latisnotactive"></div>
    <div id="ddpisactive" title="Documentary papyri corpus is active"><span class="rarechars activeoption">Ⓓ</span></div>
    <div id="ddpnotisactive"></div>
    <div id="insisactive" title="Inscriptions corpus I is active"><span class="rarechars activeoption">Ⓘ</span></div>
    <div id="insnotisactive"></div>
    <div id="chrisactive" title="Inscriptions corpus II is active"><span class="rarechars activeoption">Ⓒ</span></div>
    <div id="chrnotisactive"></div>
    <br>

    <div id="usingrawinput" title="Passage locations manually entered"><span class="rarechars activeoption">⒭</span></div>
    <div id="usingautoinput" title="Passage locations via autofill boxes"><span class="rarechars activeoption">⒜</span></div>
    <div id="onehitistrue" title="Matches limited to one per work"><span class="rarechars activeoption">⑴</span></div>
    <div id="onehitisfalse" title="Unlimited matches per work"></div>
    <div id="spuriaistrue" title="Search inside spuria"><span class="activeoption"></span></div>
    <div id="spuriaisfalse" title="Do not search inside spuria"><span class="activeoption linethrough small">sp</span></div>
    <div id="undatedistrue" title="Search works that have no assigned date"><span class="activeoption"></span></div>
    <div id="undatedisfalse" title="Do not search works without an assigned date"><span class="activeoption linethrough small">inc</span></div>
    <div id="variaistrue" title="Search works that have various authors and dates"><span class="activeoption"></span></div>
    <div id="variaisfalse" title="Do not search works that have various authors and dates"><span class="activeoption linethrough small">var</span></div>
    <div id="headwordindexingactive" title="Index by headword"><span class="rarechars activeoption">⢱</span></div>
    <div id="headwordindexinginactive" title="Do not index by headword"><span class="activeoption"></span></div>
    <div id="frequencyindexingactive" title="Index by frequency"><span class="activeoption">﹟</span></div>
    <div id="frequencyindexinginactive" title="Do not index by frequency"><span class="activeoption"></span></div>
    <br>

    <div id="lemmatizing-ison"><span class="rarechars activeoption">λ</span></div>
    <div id="lemmatizing-isoff"><span class="activeoption"></span></div>
    <div id="vectorizing-ison"><span class="rarechars activeoption">v⃗</span></div>
    <div id="vectorizing-isoff"><span class="activeoption"></span></div>
    <div id="ldamodel-ison"><span class="rarechars activeoption">τ⃗</span></div>
    <div id="ldamodel-isoff"><span class="activeoption"></span></div>
    <div id="ldagraph-ison"><span class="rarechars activeoption"></span></div>
    <div id="ldagraph-isoff"><span class="activeoption"></span></div>
    <br>

    <div id="alternates-ison"><span class="rarechars activeoption">🄰</span></div>
    <div id="flatlemma-ison"><span class="rarechars activeoption">🄵</span></div>
    <div id="unlemmatized-ison"><span class="rarechars activeoption">🅄</span></div>
    <div id="winnertakesall-ison"><span class="rarechars activeoption">🅆</span></div>
</div>

<script>
    // GENERIC
    var optionids = Array('#onehitistrue', '#onehitisfalse', '#spuriaistrue',
        '#spuriaisfalse', '#undatedistrue', '#undatedisfalse',
        '#variaistrue', '#variaisfalse', '#headwordindexingactive',
        '#headwordindexiningactive', '#frequencyindexingactive',
        '#frequencyindexinginactive', '#grkisactive', '#latisactive',
        '#ddpisactive', '#insisactive', '#chrisactive');

    for (var i = 0; i < optionids.length; i++) { $(optionids[i]).hide(); }
</script>

<div id="helptabs">
    <ul>
        <li><a href="#PDFFiles"><span>Download PDF Help</span></a></li>
        <li><a href="#Interface"><span>Interface</span></a></li>
        <li><a href="#Browsing"><span>Browsing</span></a></li>
        <li><a href="#Dictionaries"><span>Dictionaries and word counts</span></a></li>
        <li><a href="#MakingSearchLists"><span>Searching: Building search lists</span></a></li>
        <li><a href="#BasicSyntax"><span>Searching: Basic search syntax</span></a></li>
        <li><a href="#RegexSearching"><span>Searching: REGEX</span></a></li>
        <li><a href="#LemmaSearching"><span>Searching: Lemmata</span></a></li>
        <li><a href="#Oddities"><span>Peculiarities and Gotchas</span></a></li>
        <li><a href="#Extending"><span>Adding to the database</span></a></li>
        <li><a href="#IncludedMaterials"><span>Included Materials</span></a></li>
    </ul>
    <div id="PDFFiles"><!-- placeholder --></div>
    <div id="Interface"><!-- placeholder --></div>
    <div id="Browsing"><!-- placeholder --></div>
    <div id="Dictionaries"><!-- placeholder --></div>
    <div id="MakingSearchLists"><!-- placeholder --></div>
    <div id="BasicSyntax"><!-- placeholder --></div>
    <div id="RegexSearching"><!-- placeholder --></div>
    <div id="LemmaSearching"><!-- placeholder --></div>
    <div id="Oddities"><!-- placeholder --></div>
    <div id="Extending"><!-- placeholder --></div>
    <div id="IncludedMaterials"><!-- placeholder --></div>
</div>

<div id="bottommessage">
    <span id="cookiemessage">Enable <span class="outline red">cookies</span> and/or <span class="outline red">javascript</span> in your browser and then reload this page.</span>
</div>

<div id="versioning">
    <span class="unobtrusive">HGS&nbsp;{{index . "version"}}</span>
</div>

<!-- authentication html (if neccessary) -->
{{index . "authhtm"}}

<!-- load uielementlists first: others will use its values -->
<script src="/emb/js/uielementlists.js"></script>
<script src="/emb/js/autocomplete.js"></script>
<script src="/emb/js/browser.js"></script>
<script src="/emb/js/coreinterfaceclicks.js"></script>
<script src="/emb/js/radioclicks.js"></script>

<!-- blank divs just to hold scripts for injection later -->
<div id="browserclickscriptholder"> </div>
<div id="indexclickscriptholder"> </div>
<div id="vectorspinnerscriptholder"> </div>
<div id="selectionscriptholder"> </div>
<div id="lexicaljsscriptholder"> </div>

<!-- load documentready last: relies on the existence of much of the above -->
<script src="/emb/js/documentready.js"></script>

</body>
</html>
